head, body {
	width: 100%;
	height: 100%;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}

h1,h2,h3,h4,p,a,button {
	font-family: "Hiragino Sans","Hiragino Kaku Gothic ProN","メイリオ", sans-serif;
	font-feature-settings: "pkna" 1;
}

div {
	display: block;
}



h2,h3 {
	display: inline-block;
	padding: 0.48em;
}

.white {
	color: #FFF;
}

.blue {
	color: #1E2A92;
}

.black {
	color: #000;
}

.marker {
	padding: 0.48em;
}

.circle {
	border-radius: 50%;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
}

/* top */
	#top {

	}

	#top .marker {
		background-color: #1E2A92;
	}


/* issue */
	#issue {

	}

	#issue h2 {
		background-color: #000;
	}


/* hire */
	#hire {

	}

	#hire h2 {
		background-color: #FFF;
	}

	#hire h3 {
		background-color: #000;
	}

	#hire .marker {
		background-color: #15C699;
	}

	#hire .circle {
		color: #15C699;
		background-color: #FFF;
	}

/* employee */
	#employee {

	}

	#employee h2 {
		background-color: #FFF;
	}

	#employee h3 {
		background-color: #000;
	}

	#employee p {
		background-color: #FFF;
	}

	#employee .circle {
		color: #FFF;
		background-color: #000;
	}

/* management */
	#management {

	}

	#management h2 {
		background-color: #000;
	}

	.notice {
		color: #D4162D;
	}




@media (min-width: 1024px){
	section {
		width: 1024px;
		margin: auto;
	}

	h1 {

	}
}