head, body {
	height: 100%;
	margin: auto;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}

h1,h2,h3,h4,p,a,label,button {
	font-family: "Hiragino Sans","Hiragino Kaku Gothic ProN","メイリオ", sans-serif;
	font-feature-settings: "pkna" 1;
}

div {
	display: block;
}

svg {
	margin: auto;
}

h1 {
	font-size: 18px;
	font-weight: 700;
	line-height: 46px;
}

h1 .marker {
	padding: 11px;
}

h2,h3 {
	display: inline-block;
	margin: auto;
	padding: 23px 32px;
	font-size: 36px;
	font-weight: 700;
}

h4 {
	font-size: 4em;
	font-weight: 400;
}


p {
}

.flex {
	display: flex;
	flex-basis: 1024px;
}

.white {
	color: #FFF;
}

.blue {
	color: #1E2A92;
}

.black {
	color: #000;
}

.marker {
	
}

.circle {
	display: inline-block;
	width: 38px;
	border-radius: 50%;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
}

/* header */
	header {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		margin: auto;
		width: 100%;
		z-index: 2;
	}

	header .flex {
		justify-content: space-between;
	}

	header img {
		left: 0;
	}

/* top */
	.top-container {
		display: block;
		background: url('img/top-blend.svg'), url('img/top.jpg') center center no-repeat;
		background-blend-mode: multiply;
		background-size: cover;
		clip-path: url(#top-bg);
		overflow: hidden;
	}


	#top .marker {
		background-color: #1E2A92;
	}


/* issue */
	#issue {
		margin: 40px auto;
		width: 960px;
		height: 800px;
		margin-top: -60px;
	}

	#issue h2 {
		background-color: #000;
	}

	#issue p {
		font-weight: 500;
		line-height: 34px;
	}

	#issue .flex {
		flex-direction: row;
		width: 960px;
		margin: auto;
	}

	#issue img {
 		margin-right: 95px;
	}


/* hire */
	#hire {

	}

	#hire h2 {
		background-color: #FFF;
	}

	#hire h3 {
		background-color: #000;
	}

	#hire .marker {
		background-color: #15C699;
	}

	#hire .circle {
		width: 38px;
		height: 38px;
		color: #15C699;
		background-color: #FFF;
	}

/* employee */
	#employee {

	}

	#employee h2 {
		background-color: #FFF;
	}

	#employee h3 {
		background-color: #000;
	}

	#employee .circle {
		color: #FFF;
		background-color: #000;
	}

/* management */
	#management {

	}

	#management h2 {
		background-color: #000;
	}

	.notice {
		color: #D4162D;
	}

.tri {
	/* 影を入れる */
}

footer {
	background-color: #2B2BA2;
}




@media (min-width: 1024px){
	head, body {
		width: 2560;	
		max-width: 2560px;
	}

	section {
		position: relative;
		width: 1024px;
		margin: auto;
	}

	h1 {

	}

	h2 {

	}

	h3 {

	}

	h4 {
		
	}

	#employee p {
		background-color: #FFF;
	}

	header .link {
		right: 0;
		margin-top: 36px;
	}

	header a {
		margin-left:40px;
	}

	#issue {
		text-align: center;
	}

	#map iframe {
		width: 600px; 
		height: 450px;
	}
}


@media (max-width: 1023px){
	head, body {
		width: 750px;
	}

	p {
		font-size: 28px;
		font-weight: 300;
	}

	header, section {
		margin-left: 50px;
		margin-right: 50px;
		width: 650px;
	}

	header img {
		width: 32%;
	}

	header .link {
		right: 0;
		margin-top: 36px;
	}

	.top-container {

	}

	#issue {
		display: none;
	}

	.hire-title {
		background-color: #2B2BA2;
		margin-left: 50px;
	}

	.hire-title h2 {
		margin: 64px 0 0 -50px;
	}

	.hire-title img {
		width: 600px;
		margin: 96px 0 64px 0;
	}

	.marker {
		display: inline-block;
		padding: 14px;
	}

	#employee {
		background: url('img/employee-bg-750.svg') center top no-repeat;
		background-size: 750px;
		padding-top: 160px;
		height: 1000px;
	}

	#employee img {
		width: 650px;
		margin-top: 50px; 
	}

	#management {
		background: url('img/management-bg-750.svg') center top no-repeat;
		background-size: 750px;
		height: 1000px;
	}

	.tri {
		filter: drop-shadow(0px 6px 5px #CCC);
	}

	#contact {
		margin-top: -150px;
		padding-top: 160px;
		background-color: #FFF;
	}

	#contact img {
		width: 650px;
		margin: 40px 0;
	}

	#contact-form label {

	}

	#contact-form input {
		border-radius: 8px;
		border: 1px solid #EEE;
		width: 560px;
		height: 84px;
		background-color: #EEE;
		margin-bottom: 40px;
	}

	#contact-form textarea {
		resize: none;
		border-radius: 8px;
		border: 1px solid #EEE;
		width: 650px;
		height: 360px;
		background-color: #EEE;
	}

	#contact-form button, #contact button,  {
		width: 320px;
		height: 96px;
		border-radius: 8px;
		left: 0;
		color: #FFF;
		background-color: #2B2BA2;
	}

	.res {
		width: 650px;
		height: 272px;
		border: 4px solid #E2E2E2;

	}

	.red {
		color: #F00;
		font-weight: 400;
		text-align: center;
	}

	#map {
		width: 100%;
	}

	#map iframe {
		width: inherit;
		height: 480px;
	}

	#company {
		margin: 160px 0;
	}

	#company h4 {
		margin: 80px 0;
	}

	#company img {
		width: 48%;
	}

	#company p {
		margin-top: 64px;
		line-height: 56px;
	}

	footer {
		padding: 120px 0 64px 0;
	}

	footer section div {
		clear: both;
	}

	footer img {
		width: 42.6%;
	}

	footer p {
		font-size: 20px;
		text-align: center;
		margin-top: 64px;
	}

}